<div class="nav-container display-flex justify-content-space-between">
  <p class="nav-icon color-white cursor-pointer">&#9776;</p>
  
  <i class="fas fa-search color-white search-icon cursor-pointer"></i>
</div>
